.app {
  text-align: center;
}

.app-logo {
  height: 50px;
  pointer-events: none;
}

.app-page {
  margin: auto;
  max-width: 960px;
}

.app-page-header {
  text-align: center;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #282c34;
}

main {
  position: relative;
  padding-top: 20px;
  padding-bottom: 60px;
}

p {
  font-size: 1.1em;
  line-height: 1.5;
}