.app {
  text-align: center;
}

.app-logo {
  height: 50px;
  pointer-events: none;
}

.app-page {
  margin: auto;
  max-width: 960px;
}

.app-page .app-img-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
}

.app-page .app-img-container>div {
  max-width: 750px;
}

.app-page-header {
  text-align: center;
}

.app-space {
  height: 300px;
  text-align: center;
}

.app-table-side-by-side {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.app-table-side-by-side>.app-table {
  flex: 1 1 100px;
  min-width: 0;
  overflow: hidden;
}

.app-table {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--darker);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
}

.app-table .app-row {
  border-bottom: 1px solid var(--dark);
  padding: 10px;
}

.app-table .app-row-set{
  position: relative;
}
.app-table .app-row-set::before {
  content: "";
  position: absolute;
  height: calc(100% - 30px);
  top: 15px;
  width: 2px;
  border-left: 1px solid magenta;
}
.app-table .app-row-set.info::before {
  border-left: 1px solid var(--info);
}
.app-table .app-row-set.success::before {
  border-left: 1px solid var(--success);
}
.app-table .app-row-set.warning::before {
  border-left: 1px solid var(--warning);
}
.app-table .app-row-set.danger::before {
  border-left: 1px solid var(--danger);
}
.app-table .app-row-set.light::before {
  border-left: 1px solid var(--light);
}

.app-table summary {
  margin-bottom: 5px;
}

.app-table .app-row:last-child {
  border-bottom: none;
  padding: 10px;
}

.app-table .app-logo {
  width: auto;
  height: 42px;
}

.app-table .app-row>div {
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-table .app-empty-icon {
  width: 20px;
  margin-right: 10px;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  overflow-y: overlay;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%231a1a1a' stroke-width='4.7' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  /* background by SVGBackgrounds.com */
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #282c34;
}

main {
  position: relative;
  padding: 20px 15px 80px 15px;
  white-space: pre-line;
}

@media screen and (max-width: 992px) {
  main {
    padding-bottom: 210px;
  }
}

p {
  font-size: 1.1em;
  line-height: 1.5;
}

.square-fav{
  max-width: 11.8px;
  max-height: 11.8px;
}

.app-nav>.nav-item{
  background-color: var(--dark);
}

.app-nav>.nav-item>.nav-link.active{
  background-color: var(--primary) !important;
  border-color: var(--light) !important;
}