.app {
  text-align: center;
}

.app-logo {
  height: 50px;
  pointer-events: none;
}

.app-page {
  margin: auto;
  max-width: 960px;
}

.app-page-header {
  text-align: center;
}

.app-space {
  height: 300px;
  text-align: center;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%231a1a1a' stroke-width='4.7' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  /* background by SVGBackgrounds.com */
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #282c34;
}

main {
  position: relative;
  padding: 20px 15px 80px 15px;
  white-space: pre-line;
}

@media screen and (max-width: 992px) {
  main {
    padding-bottom: 210px;
  }
}

p {
  font-size: 1.1em;
  line-height: 1.5;
}