.navbar-collapse {
    justify-content: space-between;
}

.connection-info {
    align-items: baseline;
}

.connection-info>.chain-info {
    font-weight: bold;
}

.connection-info>.chain-info::before {
    position: relative;
    right: 10px;
    top: 15px;
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: greenyellow;
}

.connection-info>.account-info {
    cursor: pointer;
    font-weight: bold;
    margin-right: 20px;
}

.connection-info>.account-info:hover {
    opacity: .8;
    background-color: rgb(0, 0, 0, .1);
}