.footer-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    min-height: 50px;
}

.footer-container a {
    color: #fff;
    text-decoration: none;
}