.diddetails-empty-icon {
    width: 20px;
    margin-right: 10px;
}

.diddetails-asset-img {
    width: 100px;
    height: 100px;
}

.diddetails-table {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--darker);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
}

.diddetails-table .diddetails-row {
    border-bottom: 1px solid var(--dark);
    padding: 10px;
}

.diddetails-table .diddetails-row:last-child {
    border-bottom: none;
    padding: 10px;
}

.diddetails-table .diddetails-logo {
    width: auto;
    height: 32px;
}

.diddetails-table .diddetails-row>div {
    text-overflow: ellipsis;
}